/* universal */
*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
}
.primary-btn{
    width: 160px;
    height: 64px;
    background-color: #F15B22;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: 5px;
    border-radius: 3px;
}


/* ============header=============== */
.web-header{
    text-align: right;
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 808px;
}

.header-tittle{
    font-size: 70px;
    padding-right: 200px;
    padding-top: 200px;
    padding-bottom: 30px;
}
.header-discription{
    padding-right: 200px;
}
.header-button{
    padding-right: 200px;
    padding-top: 40px;
}

/* ======================MAIN====================== */

.first-section{
    display: flex;
    margin: 200px 200px ;
    justify-content: space-around;
}
.privious-year{
    padding-top: 300px;
    color: #444343;
}
.privious-year-tittle{
    width: 600;
    font-size: 40px;
    padding-bottom: 30px;
}
.privious-year-discription{
    font-size: 18px;
}
.failior-list{
    padding-left: 30px;
    padding-top: 20px;
    font-size: 14px;
}
.icon-click {
    width: 10px;
}

/* ====================MY PLANS====================== */

.my-plan{
    margin-top: 40px;
    text-align: center;
    width: 600;
    font-size: 50px;
}
.my-plan-icon{
    display: flex;
    justify-content: space-between;
    margin: 0px 300px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.my-plan-discription{
    text-align: center;
    justify-content: space-between;
    margin-top: 20px;
}
.my-plan-tittle{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 700;
    font-size: 25px;
}
.my-plan-subtittle{
    width: 300;
    font-size: 18px;
    color: #444343;
}

/* ====================banner=============== */

.banner{
    background-image:url(../images/gradient1.png) , url(../images/watch.png) ;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 200px;
    margin: 0px 230px;
    margin-top: 200px;
    justify-content: center;
}
.banner-tittle{
    color: #FFFFFF;
    padding-left: 200px; 
    padding-top: 200px;
}
.secondary-btn{
    width: 160px;
    height: 64px;
    background-color: #FFFFFF;
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    border: 5px;
    margin-left: 200px;
    margin-top: 20px;
    border-radius: 3px;
}
/* =============footer=============== */
.footer{
    background-color: black;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}
.future{
    padding-top: 100px;
    padding-left: 100px;
}
.future-tittle{
    font-size: 30px;
    width: 600;
}
.future-discription{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.future-sub-tittle{
    font-size: 12px;
    margin-bottom: 10px;
}
.footer-icon{
    margin-right: 20px;
    margin-left: 20px;
}

.subscribe{
    padding-top: 100px;
    padding-right: 200px;
    
}
.input-tittle{
    font-size: 30px;

}
.input-email{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 10px;
}
.submit-btn{
    width: 100px;
    height: 44px;
    border-radius: 5px;
    text-align: center;
    background-color: #FFFFFF;
    color: #F15B22;
    font-weight: 600;
    font-size: 18px;
    border: 5px;
    margin-top: 10px;
}